.business {
    display: flex;
    justify-content: center;
    color: var(--light-blue);
    background-color: var(--light-blue);

    .business__container { 
        background-color: var(--blue);
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 5rem 0;
        border-radius: 2rem 2rem 0.5rem 0.5rem;

        .business__wrapper {
            display: flex;
            width: 87.5rem;
            gap: 9rem;
            
            .business__img-container {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 2rem;
                flex: 1;
                
                .business__img-1,
                .business__img-2,
                .business__img-3 {
                    max-height: 23rem;
                    object-fit: cover;
                }
            }
            
            .business__items-container {
                flex: 1;
                
                .business__logo-text {
                    font-size: 2.125rem;
                    font-weight: bold;
                    font-style: italic;
                }
                
                .business__logo-dot {
                    font-size: 2.125rem;
                    font-weight: bold;
                    font-family: var(--alt-font);
                    color: var(--sky-blue);
                }
                
                .bussines__logo-extension {
                    font-family: var(--alt-font);
                    color: var(--light-blue);
                    margin-left: 0.50rem;
                    font-size: 1.5rem;
                    font-weight: 300;
                }
            
                .business_heading {
                    font-size: 2rem;
                    margin: 2rem 0rem;
                    width: 75%;
                }
            
                .business__item-title {
                    display: flex;
                    align-items: center;
                    gap: 1rem;
                    font-size: 1.5rem;
                    font-weight: bold;
                    font-family: var(--alt-font);
                    letter-spacing: 0.05rem;
                    
                    .business__item-icon {
                        font-size: 1.5rem;
                    }
                }
            
                .business__item-description {
                    margin: 1rem 0;
                    width: 30rem;
                    font-family: var(--alt-font);
                    font-weight: 300;
                    font-size: 1.099rem;
                }
            }
        }
    }
}