.slide {
    display: flex;
    justify-content: center;
    padding: 6.25rem 0;
    background-color: var(--light-blue);
    
    .container {
        width: 87.5rem;

        .carousel-prev,
        .carousel-next {
            height: 3.135rem;
            width: 3.135rem;
            background-color: var(--light-gray);
            position: absolute;
            top: 0;
            bottom: 0;
            margin: auto;
        }

        .carousel-prev {
            left: 2%;
        }

        .carousel-next {
            right: 2%;
        }

        .carousel-row {
            width: 15.75rem;
            height: 21.5rem;
        }

        .carousel-item{
            margin-left: 4px;
            box-sizing: border-box;
            width: 15.75rem;
            height: 21.5rem;
        }

        .carousel-track {
            overflow: hidden;
        }

        .carousel-next::before {
            width: 100%;
            background-image: url("../../../public/RightArrow.svg");
            background-size: 2rem;
        }

        .carousel-prev::before {
            width: 100%;
            background-image: url("../../../public/LeftArrow.svg");
            background-size: 2rem;
        }
    }
}