.review__slider-item {
    width: 87.5rem;
    max-height: 21rem;
    display: flex;

    .review__slider-img-container {
        flex: 1.3;

        .review__slider-img {
            height: 100%;
            width: 100%;
            object-fit: cover;
            object-position: 0px 0px;
            border-radius: 1rem;

        }

    }

    &:nth-child(2) {
        .review__slider-img-container {
            .review__slider-img {
                object-position: 0px -3.2rem;
            }
        }
    }

    &:nth-child(4) {
        .review__slider-img-container {
            .review__slider-img {
                object-position: 0px -7rem;
            }
        }
    }

    .review__content-container {
        flex: 2;
        display: flex;
        justify-content: center;
        align-items: center;

        .review__content-wrapper {
            height: 100%;
            width: 90%;
            display: flex;
            flex-direction: column;

            .review__user-container {
                flex: 0.5;
                display: flex;
                align-items: center;

                .review__user-pp {
                    width: 3rem;
                    height: 3rem;
                    border-radius: 50%;
                    border: 2px solid var(--blue);
                    padding: 0.1rem;
                    object-fit: cover;
                }

                .review__user-username {
                    color: var(--blue);
                    margin-left: 0.5rem;
                    font-size: 1.5rem;
                    font-weight: 700;
                }

                .review__verified-icon {
                    color: var(--verified-blue);
                    margin-bottom: 1rem;
                }

                .review__separator-line {
                    margin: 0rem 0.5rem;
                    height: 3rem;
                    border-left: 2px solid var(--blue);
                    border-radius: 1rem;
                }

                .review__service {
                    font-size: 1.5rem;
                    font-weight: 400;
                    color: var(--blue);
                }
            }

            .review__review-container {
                flex: 3;
                display: flex;
                align-items: center;
                width: 95%;

                .review__review {
                    font-size: 1.5rem;
                    font-style: italic;
                    color: var(--blue);
                    margin-top: 1rem;
                }
            }

            .review__helpper-container {
                flex: 0.5;
                display: flex;
                align-items: center;
                margin-top: 1rem;
                justify-content: end;
                
                .review__service-provided {
                    color: var(--blue);
                    font-size: 1.5rem;
                    font-weight: 500;
                    font-family: var(--alt-font);
                }

                .review__helpper-pp {
                    width: 3rem;
                    height: 3rem;
                    border-radius: 50%;
                    border: 2px solid var(--blue);
                    padding: 0.1rem;
                    object-fit: cover;
                    margin-left: 0.5rem;
                }

                .review__helpper-username {
                    color: var(--blue);
                    margin-left: 0.5rem;
                    font-size: 1.5rem;
                    font-weight: 700;
                }

                .review__verified-icon {
                    color: var(--verified-blue);
                    margin-bottom: 1rem;
                }
            }
        }
    }
}