.featured {
    height: 37.5rem;
    display: flex;
    justify-content: center;
    background-color: var(--blue);
    color: var(--light-blue);
    z-index: -1;

    .container {
        width: 87.5rem;
        display: flex;
        align-items: center;
    }

    .hero {
        display: flex;
        flex-direction: column;
        gap: 3rem;
        font-family: var(--alt-font);

        h1 {
            font-size: 2.5rem;
            line-height: 4rem;
            font-weight: normal;
        }

        .search {
            display: flex;
            height: 2.5rem;
            
            .searchInput {
                width: 80%;
                height: 100%;
                display: flex;
                align-items: center;
                background-color: var(--light-blue);
                border-radius: 2rem 0 0 2rem;
                
                input {
                    height: 100%;
                    outline: none;
                    border: none;
                    background-color: transparent;
                    padding: 0px 20px;
                    width: 100%;
                    overflow: hidden;
                    font-weight: bold;
                    color: var(--blue);

                    &::placeholder {
                        color: var(--gray);
                        font-weight: bold;
                    }
                }
            }
            
            .buttonContainer {
                height: 100%;
                border: 2px solid var(--light-blue);
                display: flex;
                border-radius: 0 2rem 2rem 0;

                button {
                    width: 100%;
                    background-color: transparent;
                    border: none;
                    padding: 0px 20px;
                    color: var(--light-blue);
                    border-radius: 0 2rem 2rem 0;
                    font-weight: bold;
                    cursor: pointer;
                }
            }
        }

        .popular {
            display: flex;
            align-items: center;
            gap: 1rem;

            span {
                font-weight: bolder;
                font-size: 1.2rem;
            }

            button {
                padding: 5px 15px;
                background-color: transparent;
                color: var(--light-blue);
                border: 2px solid var(--sky-blue);
                font-weight: 400;
                border-radius: 10px;
                cursor: pointer;
            }
        }
    }

    .image {
        display: flex;
        z-index: 1;
        img {
            max-height: 37.5rem;
            -webkit-filter: grayscale(100%);
            filter: grayscale(100%);
        }
    }
}