.navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 999;
    color: var(--light-blue);
    background-color: var(--blue);
    transition: 0.5s all ease-in;

    &.navbar--active {
        color: var(--blue);
        background-color: var(--light-blue);
    }

    .navbar__container {
        width: 87.5rem;
        padding: 1.25rem 0rem;
        display: flex;
        justify-content: space-between;
        
        .navbar__logo {
            flex: 0.5;
            font-size: 2.125rem;
            font-weight: bold;

            .navbar__link {
                text-decoration: none;
                color: inherit;

                .navbar__logo-text {
                    font-style: italic;
                }
    
                .navbar__logo-dot {
                    color: var(--sky-blue);
                    font-family: var(--alt-font);
                }
            }

        }

        .navbar__links {
            flex: 3;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            gap: 1.5rem;
            font-weight: 600;
            font-family: var(--alt-font);

            .navbar__register,
            .navbar__login {
                text-decoration: none;
                color: inherit;
            }

            .navbar__user {
                display: flex;
                align-items: center;
                gap: 0.625rem;
                position: relative;

                .navbar__user-img {
                    width: 2rem;
                    height: 2rem;
                    border-radius: 50%;
                    object-fit: cover;
                }

                .navbar__user-options {
                    width: 11rem;
                    padding: 1.25rem;
                    display: flex;
                    flex-direction: column;
                    gap: 0.625rem;
                    position: absolute;
                    top: 2.5rem;
                    right: 0;
                    border-radius: 0.625rem;
                    color: var(--blue);
                    font-weight: 500;
                    list-style: none;
                    z-index: 999;
                    border: 0.063rem solid var(--blue);
                    background-color: var(--light-blue);

                    .navbar__events,
                    .navbar__new-event,
                    .navbar__active-events,
                    .navbar__messages,
                    .navbar__logout {
                        text-decoration: none;
                        color: inherit;
                        width: fit-content;
                    }
                }
            }
            
            .navbar__username {
                cursor: pointer;
            }

            .navbar__signup-button {
                padding: 0.625rem 1.25rem;
                background-color: var(--light-blue);
                color: var(--blue);
                border-radius: 0.313rem;
                border: 2px solid var(--blue);
                font-weight: bold;
                font-size: 1rem;
                cursor: pointer;
                transition: all 0.5s ease;

                &:hover {
                    background-color: var(--blue);
                    color: var(--light-blue);
                    border: 2px solid var(--light-blue);
                }

                &.navbar__signup--active {
                    background-color: var(--blue);
                    border-color: var(--light-blue);
                    color: var(--light-blue);

                    &:hover {
                        background-color: transparent;
                        border-color: var(--blue);
                        color: var(--blue);
                    }
                }
            }
        }
    }
}