.service-card {
    display: flex;
    font-size: 5rem;
    align-items: center;
    justify-content: center;
    height: 21.699rem;
    position: relative;
    border-radius: 0.6rem;
    width: calc((87.5rem - 4rem) / 5);
    overflow: hidden;

    &:hover {
        .service-card__description-container {
            transform: translateX(0);
            opacity: 1;
        }
    }

    .service-card__link {
        width: 100%;
        height: 100%;
    }

    .service-card__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 0.6rem;
    }

    .service-card__service-title-container {
        width: 90%;
        height: 15%;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 1rem;
        left: 0;
        background-color: var(--light-blue);
        border-radius: 0 2rem 2rem 0;
        
        .service-card__title {
            font-size: 1.45rem;
            font-weight: 400;
            color: var(--blue);
        }
    }

    .service-card__description-container {
        width: 80%;
        height: 10%;
        background-color: var(--light-blue);
        position: absolute;
        bottom: 1rem;
        right: 0;
        border-radius: 2rem 0 0 2rem;
        display: flex;
        align-items: center;
        justify-content: center;
        transform: translateX(100%);
        opacity: 0;
        transition: all 0.7s ease-in;

        .service-card__description {
            font-size: 1rem;
            color: var(--blue);
            font-weight: 500;
        }
    }
}



