.features {
    display: flex;
    justify-content: center;
    color: var(--light-blue);
    background-color: var(--light-blue);

    .features__container {
        background-color: var(--blue);
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 5rem 0;
        border-radius: 0.5rem 0.5rem 2rem 2rem;
        
        .features__wrapper {
            display: flex;
            width: 87.5rem;
            gap: 9rem;
            
            .features__items-container { 
                h2 {
                    font-size: 2rem;
                    margin-bottom: 2rem;
                }
                
                .features__feature-title {
                    display: flex;
                    align-items: center;
                    gap: 1rem;
                    font-size: 1.5rem;
                    font-weight: bold;
                    font-family: var(--alt-font);
                    letter-spacing: 0.05rem;
                    
                    .features__feature-icon {
                        font-size: 1.5rem;
                    }
                }
                
                .features__feature-description {
                    margin: 1rem 0;
                    width: 30rem;
                    font-family: var(--alt-font);
                    font-weight: 300;
                    font-size: 1.099rem;
                }
            }
            
            .features__img-container {
                display: flex;
                align-items: center;
                justify-content: center;
            }
            
            .features__img {
                width: 40rem;
                height: 25rem;
                object-fit: cover;
                border-radius: 1rem;
            }
        }
    }
}